<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/nav'); %>
    <div class="main-content">
      <h1><%= title %></h1>
      <%- include('./partials/message'); %>
      <% if (user && user.admin) { %>
        <form action="" method="POST">
          <div>
            <input type="hidden" name="messageid" required="true" value="<%- message._id %>">
            <button type="submit">Delete Message</button>
          </div>
        </form>
      <% } else { %>
        <p>You shouldn't be here, you can't delete messages! Admins only, go <a href="/">home</a>.</p>
      <% } %>
    </div>
  </body>
</html>